{% extends 'base.html' %} {% block content %}
<div>
  <h3>Arquivos</h3>
</div>

<table class="table table-bordered mt-3">
  <form method="POST" action="{% url 'arquivos' %}">
    {% csrf_token %}
    <div class="form-row d-flex">
      <div class="col-2">
        <input type="text" class="form-control" name="dir" placeholder="Entre com o diretório" />
      </div>
      <div class="col ms-2">
        <button type="submit" class="btn btn-primary pl-3">Enviar</button>
      </div>
    </div>
    <p class="fw-bold mt-3">Caminhos rápidos:</p>
    <button type="submit" name="dirButton" value="Documents" class="btn btn-primary">
      Documents
    </button>
    <button type="submit" name="dirButton" value="Desktop" class="btn btn-primary ms-2">
      Desktop
    </button>
  </form>
  {% if arquivos %}
  <thead class="table-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Data de Modificação</th>
      <th scope="col">Data de Criação</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in arquivos.items %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.0 }} Bytes</td>
      <td>{{ value.1 }}</td>
      <td>{{ value.2 }}</td>
      <td>{{ value.3 }}</td>
    </tr>

    {% endfor %}
  </tbody>
  {% endif %}
</table>
<a href="{% url 'log_arquivos' %}">Log da página</a>
{% endblock %}