<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Projeto de Blobo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>{{ nome }}</h1>
    <div class="abas">
        <a href="{% url 'index' %}">Disco</a>
        <a href="{% url 'processo' %}">Processos</a>
        <a href="{% url 'memoria' %}">Memória</a>
        <a href="rede.html">Rede</a>
    </div>

    <div>
        <h3>Disco</h3>
    </div>

    <div>
        <p>Total: {{ disco_total }} GB</p>
        <p>Disco em uso: {{ disco_em_uso }} GB</p>
        <p>Disco livre: {{ disco_livre }} GB</p>
        <p>Percentual de disco usado: {{ disco_percentual_usado }} %</p>
    </div>
</body>

</html>