{% extends 'base.html' %}

{% block content %}
<div>
    <h3>Disco</h3>
</div>

<div>
    <div>
        <p class="fw-bold d-inline">Total: </p> {{ disco_total }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Disco em uso: </p> {{ disco_em_uso }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Disco livre: </p> {{ disco_livre }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Percentual de disco usado: </p>
        <p class="d-inline" id="number_percent">{{ disco_percentual_usado }} %</p>
    </div>
</div>
<div class="progress bg-primary mt-3">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
        id="progress-bar-disco" aria-valuemax="100"></div>
</div>
<script>
    let paragrafo = document.getElementById("number_percent").innerHTML
    let ar_paragrafo = paragrafo.split(" ")
    let porcentagem = ar_paragrafo[0]
    let progress = document.getElementById("progress-bar-disco")
    progress.style.width = porcentagem + "%"
</script>
{% endblock %}