<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Projeto de Blobo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>{{ nome }}</h1>
    <div class="abas">
        <a href="{% url 'index' %}">Disco</a>
        <a href="{% url 'processo' %}">Processos</a>
        <a href="{% url 'memoria' %}">Memória</a>
        <a href="rede.html">Rede</a>
    </div>

    <div>
        <h3>Memoria</h3>
    </div>

    <div>
        <p>Total de memória: {{ tot_memory }} GB</p>
        <p>Memória utilizada: {{ memory_used }} GB</p>
        <p>Memória livre: {{ memory_free }} GB</p>
        <p>Porcentagem de memória utilizada: {{ percent_memory_used }} %</p>
    </div>
</body>

</html>