{% extends 'base.html' %}

{% block content %}
<div>
    <h3>Memoria</h3>
</div>

<div>
    <div>
        <p class="fw-bold d-inline">Total de memória: </p>{{ tot_memory }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Memória utilizada: </p>{{ memory_used }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Memória livre: </p>{{ memory_free }} GB
    </div>
    <div>
        <p class="fw-bold d-inline">Porcentagem de memória utilizada: </p>
        <p class="d-inline" id="memoria_porcentagem">{{ percent_memory_used }} %</p>
    </div>
</div>
<div class="progress bg-primary mt-3">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
        id="progress-bar-memoria" aria-valuemax="100"></div>
</div>
<script>
    let paragrafo = document.getElementById("memoria_porcentagem").innerHTML
    let ar_paragrafo = paragrafo.split(" ")
    let porcentagem = ar_paragrafo[0]
    console.log(porcentagem)
    let progress = document.getElementById("progress-bar-memoria")
    progress.style.width = porcentagem + "%"
</script>
{% endblock %}