{% extends 'base.html' %} {% block content %}
<div>
  <h3>Processador</h3>
</div>

<div>
  <div>
    <p class="fw-bold d-inline">Nome da CPU: </p> {{ cpu_name }}
  </div>
  <div>
    <p class="fw-bold d-inline">Arquitetura: </p> {{ archtecture }}
  </div>
  <div>
    <p class="fw-bold d-inline">Bits: </p> {{ bits }}
  </div>
  <div>
    <p class="fw-bold d-inline">Total de núcleos logicos: </p> {{ nucleos_logic_tot }}
  </div>
  <div>
    <p class="fw-bold d-inline">Total de núcleos fisicos: </p> {{ nucleos_fisic_tot }}
  </div>
  <div>
    <p class="fw-bold d-inline">Frequencia total: </p> {{ freq_total }}
  </div>
  <div>
    <p class="fw-bold d-inline">Frequencia de uso: </p> {{ freq_uso }}
  </div>

  <div class="mt-3">
    <button type="button" id="button_progress_bar" class="btn btn-primary" onclick="ShowGraph()">
      Gráfico
    </button>
    <button type="button" id="button_progress_bar" class="btn btn-primary" onclick="ShowProgressBar()">
      Progress bar por CPU
    </button>
  </div>

</div>
<div id="progress_bar" class="mt-3" style="display: none;">
  {% for core_percent in cores %}
  <div>
    <p class="fw-bold d-inline">Porcentagem usada do core
      {{ forloop.counter }}: </p>
    <p class="d-inline" id="cpu_porcentagem_{{ forloop.counter }}">{{ core_percent }} %</p>
  </div>
  <div class="progress bg-primary" id="barrinha">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
      id="progress-bar-cpu-{{ forloop.counter }}" aria-valuemax="100"></div>
  </div>
  {% endfor %}
</div>
<div id="graph_cpu_percent" style="display: none;">
  <img src="data:image/png;base64,{{ graficoUrl }}" alt="" height="550" width="700" />
</div>

<script>
  function ProgressBar(id_core_cpu, id_progress_bar) {
    console.log(id_core_cpu);
    let paragrafo = document.getElementById(id_core_cpu).innerHTML;
    let ar_paragrafo = paragrafo.split(" ");
    let porcentagem = ar_paragrafo[0];
    let progress = document.getElementById(id_progress_bar);
    progress.style.width = porcentagem + "%";
  }

  let cores_tamanho = "{{ cores }}";

  for (let i = 1; i <= JSON.parse(cores_tamanho).length; i++) {
    ProgressBar("cpu_porcentagem_" + i, "progress-bar-cpu-" + i);
  }

  function ShowGraph() {
    document.getElementById("progress_bar").style.display = "none";
    document.getElementById("graph_cpu_percent").style.display = "block";
  }

  function ShowProgressBar() {
    document.getElementById("graph_cpu_percent").style.display = "none";
    document.getElementById("progress_bar").style.display = "block";
  }
</script>
{% endblock %}