<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Projeto de Blobo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>{{ nome }}</h1>
    <div class="abas">
        <a href="{% url 'index' %}">Disco</a>
        <a href="{% url 'processo' %}">Processos</a>
        <a href="">Memória</a>
        <a href="rede.html">Rede</a>
    </div>

    <div>
        <h3>Processos</h3>
    </div>

    <div>
        <p>Nome da CPU: {{ cpu_name }}</p>
        <p>Total de núcleos: {{ nucleos_tot }}</p>
        <p>Porcentagem usada da CPU: {{ cpu_percent }} %</p>
    </div>
</body>

</html>