{% extends 'base.html' %} {% block content %}
<div>
  <h3>Rede</h3>
</div>

<div>
  <div>
    <p class="fw-bold d-inline">Endereço:</p>
    {{ interface_net }}
  </div>
  <div>
    <p class="fw-bold d-inline">Velocidade de internet:</p>
    {{ internet_vel }} MB
  </div>
  <div>
    <p class="fw-bold d-inline">Máscara de rede:</p>
    {{ mascara }}
  </div>
  <form class="form-inline mt-3" method="POST" action="{% url 'rede' %}">
    {% csrf_token %}
    <div class="form-row d-flex">
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          name="ip"
          placeholder="Entre com o seu ip"
        />
      </div>
      <div class="col ms-2">
        <button type="submit" class="btn btn-primary pl-3">Enviar</button>
      </div>
    </div>
  </form>
  <div>
    <p>
      Não sabe seu IP?
      <a href="https://whatismyipaddress.com/" target="_blank">Clique aqui </a>
    </p>
    <p>Hosts válidos: {{ hosts_validos }}</p>
  </div>
</div>

<h4>Informações da rede por processos</h4>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">PID</th>
      <th scope="col">Tipo do endereço</th>
      <th scope="col">Tipo</th>
      <th scope="col">Status</th>
      <th scope="col">Endereço</th>
      <th scope="col">Porta Local</th>
      <th scope="col">Endereço Remoto</th>
      <th scope="col">Porta Remota</th>
    </tr>
  </thead>
  <tbody>
    {% for p in informacoesProcessos %} {% if p.tipoEndereco %}
    <tr>
      <td>{{p.pid}}</td>
      <td>{{p.tipoEndereco}}</td>
      <td>{{p.tipo}}</td>
      <td>{{p.status}}</td>
      <td>{{p.endereco}}</td>
      <td>{{p.portaLocal}}</td>
      <td>{{p.enderecoRemoto}}</td>
      <td>{{p.portaRemota}}</td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock %}
